services:
  bot:
    build:
      context: .
    restart: on-failure
    develop:
      watch:
        - action: sync+restart
          path: .
          target: /app
          ignore:
            - ./requirements.txt
            - ./.git
        - action: rebuild
          path: ./requirements.txt
    volumes:
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
      - ./audio-output:/app/audio-output
      - ./discord.log:/app/discord.log
      - ./.env:/app/.env:ro
      - ./config.py:/app/config.py:ro
    mem_limit: 2304m

  dev-db:
    image: postgres
    restart: unless-stopped
    shm_size: 128mb
    environment:
      POSTGRES_PASSWORD: secret
    profiles:
      - devlegacy

  adminer:
    image: adminer
    restart: unless-stopped
    ports:
      - 8080:8080
    profiles:
      - devlegacy
