# This requirements.txt base file shall remain like this (pulling latest versions), not with fixed/locked versions.
# If a fixed/locked requirements.txt file is desired, just generate it on as-needed basis.

discord.py[speed,voice]
yt-dlp
python-dotenv
jishaku
psutil
pdf2image
google-generativeai
pygit2
rembg
openai
black
